.popup__input-error {
    display: block;
    visibility: hidden;
    opacity: 0;
    color: #FF0000;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    /*position: absolute;
    top: 144px;
    left: 36px;*/
}